<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 
 Copyright (c) 2011-2013 Obeo.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
    Obeo - initial API and implementation
 
 </copyright>
-->

<plugin>


   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.obeonetwork.dsl.bpmn2.presentation.Bpmn2EditorID"
            name="%_UI_Bpmn2Editor_label"
            icon="icons/full/obj16/file_bpmn.png"
            extensions="bpmn"
            class="org.obeonetwork.dsl.bpmn2.presentation.Bpmn2Editor"
            contributorClass="org.obeonetwork.dsl.bpmn2.presentation.Bpmn2ActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.obeonetwork.dsl.bpmn2.bpmdi.presentation.BpmnDiEditorID"
            name="%_UI_BpmnDiEditor_label"
            icon="icons/full/obj16/BpmnDiModelFile.gif"
            extensions="bpmndi"
            class="org.obeonetwork.dsl.bpmn2.bpmdi.presentation.BpmnDiEditor"
            contributorClass="org.obeonetwork.dsl.bpmn2.bpmdi.presentation.BpmnDiActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.obeonetwork.dsl.dd.dc.presentation.DcEditorID"
            name="%_UI_DcEditor_label"
            icon="icons/full/obj16/DcModelFile.gif"
            extensions="dc"
            class="org.obeonetwork.dsl.dd.dc.presentation.DcEditor"
            contributorClass="org.obeonetwork.dsl.dd.dc.presentation.DcActionBarContributor">
      </editor>
   </extension>

</plugin>
