<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="fr.obeo.dsl.viewpoint.componentization">
    <component class="org.obeonetwork.bpmn2.design.Activator"
               id="org.obeonetwork.bpmn2.design"
	       name="BPMN2">
    </component>
  </extension>
</plugin>
