<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 <copyright>
  Copyright (c) 2011-2013 Obeo
  
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
 
  Contributors:
     Obeo - initial API and implementation
 </copyright>
-->
<plugin>
  <extension point="fr.obeo.dsl.viewpoint.componentization">
    <component class="org.obeonetwork.bpmn2.design.Activator"
               id="org.obeonetwork.bpmn2.design"
	       name="BPMN">
    </component>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <wizard
           category="org.obeonetwork.dsl.bpmn2.designer.category"
           class="org.obeonetwork.bpmn2.design.ui.wizards.newmodel.Bpmn2ModelWizard"
           icon="icons/Bpmn2ModelFile.gif"
           id="org.obeonetwork.dsl.bpmn2.wizard.newBpmn2Model"
           name="BPMN Model"
           preferredPerspectives="fr.obeo.dsl.viewpoint.ui.tools.perspective.modeling"
           project="false">
     </wizard>
     <category
           id="org.obeonetwork.dsl.bpmn2.designer.category"
           name="BPMN Designer"
          >
     </category>
     <wizard
           category="org.obeonetwork.dsl.bpmn2.designer.category"
           class="org.obeonetwork.bpmn2.design.ui.wizards.newmodel.Bpmn2ProjectWizard"
           icon="icons/Bpmn2ModelFile.gif"
           id="org.obeonetwork.dsl.bpmn2.wizard.newBpmn2Project"
           name="BPMN Project"
           project="true">
     </wizard>
  </extension>
  <extension
        point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension
           targetID="fr.obeo.dsl.viewpoint.ui.tools.perspective.modeling">
        <newWizardShortcut
              id="org.obeonetwork.dsl.bpmn2.wizard.newBpmn2Project">
        </newWizardShortcut>
        <newWizardShortcut
              id="org.obeonetwork.dsl.bpmn2.wizard.newBpmn2Model">
        </newWizardShortcut>
     </perspectiveExtension>
  </extension>
  <extension
        point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
     <editpolicyProvider
           class="org.obeonetwork.dsl.bpmn2.design.graphical.edit.policies.BpmnPopupBarEditpolicyProvider">
        <Priority
              name="Medium">
        </Priority>
     </editpolicyProvider>
  </extension>
  <extension
        point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders">
     <modelingAssistantProvider
           class="org.obeonetwork.dsl.bpmn2.design.graphical.BpmnModelingAssistantProvider">
        <Priority
              name="Medium">
        </Priority>
     </modelingAssistantProvider>
  </extension>
</plugin>
